<div class='container'>
  <div class='row' style="padding: 1rem">
    <div class="col-lg-12">
      <div class="input-group col-lg-6">      
        <div class="col-lg-4">
          <button class="btn btn-primary btn-block">Добавить</button>
        </div>
        <div class="col-lg-7">
          <user-select></user-select>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <data-grid></data-grid>
      </div>
    </div>
  </div>
</div>
